<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="home.sqlplugin.ui.ViewParser"
            id="home.sqlplugin.ui.view"
            name="sqlParserUiViewer"
            restorable="true">
      </view>
   </extension>

</plugin>
